@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbhsans/KumbhSans-Thin.ttf');
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbhsans/KumbhSans-ExtraLight.ttf');
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbhsans/KumbhSans-Light.ttf');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbhsans/KumbhSans-Regular.ttf');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbhsans/KumbhSans-Medium.ttf');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbhsans/KumbhSans-Bold.ttf');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbhsans/KumbhSans-ExtraBold.ttf');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/kumbhsans/KumbhSans-Black.ttf');
  font-display: swap;
  font-weight: 800;
}
